<%= render partial: 'shared/header' %>

<!-- ======= Hero Section ======= -->
<%= render partial: 'hero'%>

<main id="main">

<!-- ======= About Section ======= -->
<%= render partial: 'about'%>

<!-- ======= Facts Section ======= -->
<%= render partial: 'facts'%>

<!-- ======= Resume Section ======= -->    
<%= render partial: 'resume'%>

<!-- ======= Portfolio Section ======= -->
<%= render partial: 'portfolio'%>

<!-- ======= Services Section ======= -->
<%= render partial: 'services'%>

<!-- ======= Testimonials Section ======= -->
<%= render partial: 'testimonials'%>

<!-- ======= Skills Section ======= -->
<%= render partial: 'skills'%>

    <!-- ======= Contact Section ======= -->
<%= render partial: 'contact' %>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<%= render partial: 'shared/footer' %>
